body {
    background-color: powderblue;
}


div {
  background-color: lightgrey;
  width: 100%;
  border: 15px solid black;
  padding: 50px;
  margin: auto;
}

.htmlheader {
    text-align:center
}

.html {
    background-color: coral;
    max-width: 700px;
    border: 0px;
    margin-left: 0px;
}

.css {
    background-color: cornsilk;
    width: 700px;
    border: 0px;
    margin-left: 0px;
}

.flexbox {
    background-color: gray;
    width: 700px;
    border: 0px;
    margin-left: 0px;
}

.floatleftcolumn {
    background-color: olive;
    border: 0px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
}

.flexboxroundedcorners > div {
    border-radius: 30px;
    align-content: flex-end;

}


